{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} View Students by Class {% endblock %}</h1>
    <form method="post">
        <label for="class">CHOOSE CLASS</label>
        <select id="class" name="class">
            <option value="">Select a Class</option>
            {% for class in classes %}
                <option value="{{ class }}">{{ class }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>

    {% if students %}
        <h2>{{ class_level }} Students</h2>
        {% for student in students %}
            <div class="post">
                <h2>{{ student['first_name'] }} {{ student['last_name'] }}</h2>
                <dl class="student-details">
                    <dt>Major</dt>
                    <dd>{{ student['major'] }}</dd>
                    <dt>Class</dt>
                    <dd>{{ student['class'] }}</dd>
                    <dt>GPA</dt>
                    <dd>{{ student['gpa'] }}</dd>
                    <dt>ID</dt>
                    <dd>{{ student['id'] }}</dd>
                </dl>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
